html{box-sizing:border-box}
 *,*:before,*:after{box-sizing:inherit;
font-family: 'Century Gothic','Courier New', Courier, monospace;
color:gray;
}
 * {
  box-sizing: border-box;
}

body{background:gray;}

/* When the screen is less than 800 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 800px) {
  .navbar{
    display: none;
  }
  .reglog{
    display: none;
  }
  .menubutton{
    float:right;
    display:block;
	position:absolute;
  }
}
/* When the screen is more than 800 pixels wide, hide the menubar */
@media screen and (min-width: 801px) {
  .menubutton{
    display: none;
  }
}
.w3-top h1{font-size:60px;
font-weight:bolder;}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 5px 5px 5px 10px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: blue;
  text-decoration:underline;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 10px;
}
.sidebar .closebtn:hover {
  color:red;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 25px;
  border:2px solid #111 ;
  border-radius:10px;
  
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color:transparent;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding:5px;
  text-decoration: none;
  border:2px solid gray;
  border-radius:10px;
  background-color:silver;
  margin:2px 0px 0px 5px;
}
a{
  display: block;
  text-align: center;
  padding:5px;
  text-decoration: none;
  border:2px solid gray;
  border-radius:10px;
  background-color:silver;
  margin:2px 0px 0px 5px;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}
/*styling famanavigationbar.php ends*/


/*styling header begins*/

/* Header/logo Title */
.header {
  padding: 20px 20px 20px 20px;
  text-align: center;
  background:gray;
  width:100%;
  text-shadow:2px 2px 2px;
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 40px;
}
/* style search*/
.search{
  border:2px solid transparent;
  border-radius:10px;
  background-color:white;
  width:50%;  
}
/* style submit button*/
.searchsubmit{
  border:2px solid transparent;
  border-radius:10px;
  background-color:white;
  color:gray;
  width:10%;
}
		

input[type=button] {
  display:inline-block;
  color: black;
  text-align: center;
  padding: 15px 10px;
  border:2px solid gray;
  border-radius:10px;
  background-color:lightgreen;
  margin:5px;
  text-shadow:2px 2px 2px;
}
input[type=button]:hover {
  background-color: #ddd;
  color: black;
  padding: 15px 20px;
  margin:2px;
}
.button1 a{
  float: left;
  display: block;
  text-align: center;
  padding:20px;
  text-decoration: none;
  border:2px solid gray;
  border-radius:10px;
  background-color:pink;
  margin:2px 0px 0px 5px;
  font-size:25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width:45%;
}
 html{-ms-text-size-adjust:100%;
 -webkit-text-size-adjust:100%}
 body{margin:0}
 article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}
 summary{display:list-item}
 audio,canvas,progress,video{display:inline-block}
 progress{vertical-align:baseline}
 audio:not([controls]){display:none;height:0}
 [hidden],template{display:none}
 a{background-color:transparent}
 a:active,a:hover{outline-width:0}
 abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
 b,strong{font-weight:bolder}
 dfn{font-style:italic}
 mark{background:#ff0;color:#000}
 small{font-size:80%}
 sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
 sub{bottom:-0.25em}
 sup{top:-0.5em}
 figure{margin:1em 40px}
 img{border-style:none}
 code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
 hr{box-sizing:content-box;height:0;overflow:visible} 
 button,input,select,textarea,optgroup{font:inherit;margin:0}
 optgroup{font-weight:bold}
 button,input{overflow:visible}button,select{text-transform:none}
 button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
 button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
 button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
 fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
 legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
 textarea{overflow:auto}
 [type=checkbox],[type=radio]{padding:0}
 [type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
 [type=search]{-webkit-appearance:textfield;outline-offset:-2px}
 [type=search]::-webkit-search-decoration{-webkit-appearance:none}
 ::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
 html{overflow-x:hidden}
 h1{font-size:36px}
 h2{font-size:30px}
 h3{font-size:24px}
 h4{font-size:20px}
 h5{font-size:18px}
 h6{font-size:16px}
 .font-family-serif{font-family:serif}
 h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}
 .letter-spacing-wide{letter-spacing:4px}
 hr{border:0;border-top:1px solid #eee;margin:20px 0}
 .image{max-width:100%;height:auto}
 img{vertical-align:middle}a{color:inherit}
 .table,.table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}
 .table-all{border:1px solid #ccc}
 .bordered tr,.table-all tr{border-bottom:1px solid #ddd}
 .striped tbody tr:nth-child(even){background-color:#f1f1f1}
 .table-all tr:nth-child(odd){background-color:#fff}
 .table-all tr:nth-child(even){background-color:#f1f1f1} 
 .hoverable tbody tr:hover,.ul.hoverable li:hover{background-color:#ccc}
 .centered tr th,.centered tr td{text-align:center}
 .table td,.table th,.table-all td,.table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
 .table th:first-child,.table td:first-child,.table-all th:first-child,.table-all td:first-child{padding-left:16px}
 .btn,.button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
 .btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
 .btn,.button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
 .disabled,.btn:disabled,.button:disabled{cursor:not-allowed;opacity:0.3}
 .disabled *,:disabled *{pointer-events:none}
 .btn.disabled:hover,.btn:disabled:hover{box-shadow:none}
 .badge,.tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}
 .badge{border-radius:50%}
 .ul{list-style-type:none;padding:0;margin:0}
 .ul li{padding:8px 16px;border-bottom:1px solid #ddd}
 .ul li:last-child{border-bottom:none}
 .tooltip,.display-container{position:relative}
 .tooltip .text{display:none}
 .tooltip:hover .text{display:inline-block}
 .ripple:active{opacity:0.5}
 .ripple{transition:opacity 0s}
 .input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
 .select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
 .dropdown-click,.dropdown-hover{position:relative;display:inline-block;cursor:pointer}
 .dropdown-hover:hover .dropdown-content{display:block}
 .dropdown-hover:first-child,.dropdown-click:hover{background-color:#ccc;color:#000}
 .dropdown-hover:hover > .button:first-child,.dropdown-click:hover > .button:first-child{background-color:#ccc;color:#000}
 .dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
 .check,.radio{width:24px;height:24px;position:relative;top:6px}
 .sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
 .bar-block .dropdown-hover,.bar-block .dropdown-click{width:100%}
 .bar-block .dropdown-hover .dropdown-content,.bar-block .dropdown-click .dropdown-content{min-width:100%}
 .bar-block .dropdown-hover .button,.bar-block .dropdown-click .button{width:100%;text-align:left;padding:8px 16px}
 .main,#main{transition:margin-left .4s}
 .modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
 .modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
 .bar{width:100%;overflow:hidden}
 .center .bar{display:inline-block;width:auto}
 .bar .bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
 .bar .dropdown-hover,.bar .dropdown-click{position:static;float:left}
 .bar .button{white-space:normal}
 .bar-block .bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
 .bar-block.center .bar-item{text-align:center}.block{display:block;width:100%}
 .responsive{display:block;overflow-x:auto}
 .container:after,.container:before,.panel:after,.panel:before,.row:after,.row:before,.row-padding:after,.row-padding:before, .cell-row:before,.cell-row:after,.clear:after,.clear:before,.bar:before,.bar:after{content:"";display:table;clear:both}
 .col,.half,.third,.twothird,.threequarter,.quarter{float:left;width:100%}
 .col.s1{width:8.33333%}
 .col.s2{width:16.66666%}
 .col.s3{width:24.99999%}
 .col.s4{width:33.33333%}
 .col.s5{width:41.66666%}
 .col.s6{width:49.99999%}
 .col.s7{width:58.33333%}
 .col.s8{width:66.66666%}
 .col.s9{width:74.99999%}
 .col.s10{width:83.33333%}
 .col.s11{width:91.66666%}
 .col.s12{width:99.99999%}
 @media (min-width:601px){
 .col.m1{width:8.33333%}
 .col.m2{width:16.66666%}
 .col.m3,.quarter{width:24.99999%}
 .col.m4,.third{width:33.33333%}
 .col.m5{width:41.66666%}
 .col.m6,.half{width:49.99999%}
 .col.m7{width:58.33333%}
 .col.m8,.twothird{width:66.66666%}
 .col.m9,.threequarter{width:74.99999%}
 .col.m10{width:83.33333%}
 .col.m11{width:91.66666%}
 .col.m12{width:99.99999%}
 }
 @media (min-width:993px){
 .col.l1{width:8.33333%}
 .col.l2{width:16.66666%}
 .col.l3{width:24.99999%}
 .col.l4{width:33.33333%}
 .col.l5{width:41.66666%}
 .col.l6{width:49.99999%}
 .col.l7{width:58.33333%}
 .col.l8{width:66.66666%}
 .col.l9{width:74.99999%}
 .col.l10{width:83.33333%}
 .col.l11{width:91.66666%}
 .col.l12{width:99.99999%}
 }
 .rest{overflow:hidden}
 .stretch{margin-left:-16px;margin-right:-16px}
 .content,.auto{margin-left:auto;margin-right:auto}
 .content{max-width:980px}
 .auto{max-width:1140px}
 .cell-row{display:table;width:100%}
 .cell{display:table-cell}
 .cell-top{vertical-align:top}
 .cell-middle{vertical-align:middle}
 .cell-bottom{vertical-align:bottom}
 .hide{display:none!important}
 .show-block,.show{display:block!important}
 .show-inline-block{display:inline-block!important}
 @media (max-width:1205px){
 .auto{max-width:95%}
 }
 @media (max-width:600px){
 .modal-content{margin:0 10px;width:auto!important}
 .modal{padding-top:30px}
 .dropdown-hover.mobile .dropdown-content,.dropdown-click.mobile .dropdown-content{position:relative}
 .hide-small{display:none!important}
 .mobile{display:block;width:100%!important}
 .bar-item.mobile,.dropdown-hover.mobile,.dropdown-click.mobile{text-align:center}
 .dropdown-hover.mobile,.dropdown-hover.mobile .btn,.dropdown-hover.mobile .button,.dropdown-click.mobile,.dropdown-click.mobile .btn,.dropdown-click.mobile .button{width:100%}
 }
 @media (max-width:768px){
	 .modal-content{width:500px}
	 .modal{padding-top:50px}
 } 
 @media (min-width:993px){
	 .modal-content{width:900px}
	 .hide-large{display:none!important}
	 .sidebar.collapse{display:block!important}
 }
 @media (max-width:992px) and (min-width:601px){
	 .hide-medium{display:none!important}
	 } 
@media (max-width:992px){
	.sidebar.collapse{display:none}
	.main{margin-left:0!important;margin-right:0!important}
	.auto{max-width:100%}
} .top,.bottom{position:fixed;width:100%;z-index:1}
 .top{top:0}
 .bottom{bottom:0}
 .overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
 .display-topleft{position:absolute;left:0;top:0}
 .display-topright{position:absolute;right:0;top:0}
 .display-bottomleft{position:absolute;left:0;bottom:0}
 .display-bottomright{position:absolute;right:0;bottom:0}
 .display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
 .display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
 .display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
 .display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
 .display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
 .display-container:hover .display-hover{display:block}.display-container:hover span.display-hover{display:inline-block}
 .display-hover{display:none}
 .display-position{position:absolute}
 .border-radius-circle{border-radius:50%}
 .border-radius-round-small{border-radius:2px}
 ..border-radius-round-medium{border-radius:4px}
 .border-radius-round-large{border-radius:8px}
 .border-radius-round-xlarge{border-radius:16px}
 .border-radius-round-xxlarge{border-radius:32px}
 .row-padding,.row-padding>.half,.row-padding>.third,.row-padding>.twothird,.row-padding>.threequarter,.row-padding>.quarter,.row-padding>.col{padding:0 8px}
 .container,.panel{padding:0.01em 16px}
 .panel{margin-top:16px;margin-bottom:16px}
 .code,.codespan{font-family:Consolas,"courier new";font-size:16px}
 .code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
 .codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
 .card,.card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
 .card-4,.hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
 .spin{animation:w3-spin 2s infinite linear}
 @keyframes w3-spin{0%{transform:rotate(0deg)}
 100%{transform:rotate(359deg)}
 }
 .animate-fading{animation:fading 15s infinite}
 @keyframes fading{0%{opacity:0}
 50%{opacity:1}100%{opacity:0}
 }
 
 .animate-opacity{animation:opac 0.8s}
 @keyframes opac{from{opacity:0} to{opacity:1}
 }
 .animate-top{position:relative;animation:animatetop 1s}
 @keyframes animatetop{from{top:-300px;opacity:0}
 to{top:0;opacity:1}
 }
 .animate-left{position:relative;animation:animateleft 20s}
 @keyframes animateleft{from{left:-300px;opacity:0}
 to{left:0;opacity:1}
 }
 .animate-right{position:relative;animation:animateright 0.4s}
 @keyframes animateright{from{right:-300px;opacity:0}
 to{right:0;opacity:1}
 }
 .animate-bottom{position:relative;animation:animatebottom 2s}
 @keyframes animatebottom{from{bottom:-300px;opacity:0}
 to{bottom:0;opacity:1}
 }
 .animate-zoom {animation:animatezoom 0.6s}
 @keyframes animatezoom{from{transform:scale(0)}
 to{transform:scale(1)}
 }
 .animate-input{transition:width 0.4s ease-in-out}
 .animate-input:focus{width:100%!important}
 .opacity,.hover-opacity:hover{opacity:0.60}
 .opacity-off,.hover-opacity-off:hover{opacity:1}
 .opacity-max{opacity:0.25}
 .opacity-min{opacity:0.75}
 .filter-greyscale-max,.filter-grayscale-max,.filter-hover-greyscale:hover,.filter-hover-grayscale:hover{filter:grayscale(100%)}
 .filter-greyscale,.filter-grayscale{filter:grayscale(75%)}
 .filter-greyscale-min,.filter-grayscale-min{filter:grayscale(50%)}
 .filter-sepia{filter:sepia(75%)}
 .filter-sepia-max,.filter-hover-sepia:hover{filter:sepia(100%)}
 .filter-sepia-min{filter:sepia(50%)}
 .font-size-tiny{font-size:10px!important}
 .font-size-small{font-size:12px!important}
 .font-size-medium{font-size:15px!important}
 .font-size-large{font-size:18px!important}
 .font-size-xlarge{font-size:24px!important}
 .font-size-xxlarge{font-size:36px!important}
 .font-size-xxxlarge{font-size:48px!important}
 .font-size-jumbo{font-size:64px!important}
 .text-left-align{text-align:left!important}
 .text-right-align{text-align:right!important}
 .text-justify{text-align:justify!important}
 .text-center{text-align:center!important}
 .border-0{border:0!important}
 .border{border:1px solid #ccc!important}
 .border-top{border-top:1px solid #ccc!important}
 .border-bottom{border-bottom:1px solid #ccc!important}
 .border-left{border-left:1px solid #ccc!important}
 .border-right{border-right:1px solid #ccc!important}
 .topbar{border-top:6px solid #ccc!important}
 .bottombar{border-bottom:6px solid #ccc!important}
 .leftbar{border-left:6px solid #ccc!important}
 .rightbar{border-right:6px solid #ccc!important}
 .section,.code{margin-top:16px!important;margin-bottom:16px!important}
 .margin{margin:16px!important}.margin-top{margin-top:16px!important}
 .margin-bottom{margin-bottom:16px!important}
 .margin-left{margin-left:16px!important}
 .margin-right{margin-right:16px!important}
 .padding-small{padding:4px 8px!important}
 .padding{padding:8px 16px!important}
 .padding-large{padding:12px 24px!important}
 .padding-16{padding-top:16px!important;padding-bottom:16px!important}
 .padding-24{padding-top:24px!important;padding-bottom:24px!important}
 .padding-32{padding-top:32px!important;padding-bottom:32px!important}
 .padding-48{padding-top:48px!important;padding-bottom:48px!important}
 .padding-64{padding-top:64px!important;padding-bottom:64px!important}
 .left{float:left!important}
 .right{float:right!important}
 .button:hover{color:#000!important;background-color:#ccc!important}
 .transparent,.hover-none:hover{background-color:transparent!important}
 .hover-none:hover{box-shadow:none!important}
 /* Colors */
 .backgroundcolor-amber,.backgroundcolor-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
 .backgroundcolor-aqua,.backgroundcolor-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
 .backgroundcolor-blue,.backgroundcolor-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
 .backgroundcolor-light-blue,.backgroundcolor-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
 .backgroundcolor-brown,.backgroundcolor-hover-brown:hover{color:#fff!important;background-color:#795548!important}
 .backgroundcolor-cyan,.backgroundcolor-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
 .backgroundcolor-blue-grey,.backgroundcolor-hover-blue-grey:hover,.backgroundcolor-blue-gray,.backgroundcolor-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
 .backgroundcolor-green,.backgroundcolor-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
 .backgroundcolor-light-green,.backgroundcolor-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
 .backgroundcolor-indigo,.backgroundcolor-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
 .backgroundcolor-khaki,.backgroundcolor-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
 .backgroundcolor-lime,.backgroundcolor-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
 .backgroundcolor-orange,.backgroundcolor-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
 .backgroundcolor-deep-orange,.backgroundcolor-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
 .backgroundcolor-pink,.backgoundcolor-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
 .backgroundcolor-purple,.backgroundcolor-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
 .backgroundcolor-deep-purple,.backgroundcolor-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
 .backgroundcolor-red,.backgroundcolor-hover-red:hover{color:#fff!important;background-color:#f44336!important}
 .backgroundcolor-sand,.backgroundcolor-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
 .backgroundcolor-teal,.backgroundcolor-hover-teal:hover{color:#fff!important;background-color:#009688!important}
 .backgroundcolor-yellow,.backgroundcolor-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
 .backgroundcolor-white,.backgroundcolor-hover-white:hover{color:#000!important;background-color:#fff!important}
 .backgroundcolor-black,.backgroundcolor-hover-black:hover{color:#fff!important;background-color:#000!important}
 .backgroundcolor-grey,.backgroundcolor-hover-grey:hover,.backgroundcolor-gray,.backgroundcolor-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
 .backgroundcolor-light-grey,.backgroundcolor-hover-light-grey:hover,.backgroundcolor-light-gray,.backgroundcolor-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
 .backgroundcolor-dark-grey,.backgroundcolor-hover-dark-grey:hover,.backgroundcolor-dark-gray,.backgroundcolor-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
 .backgroundcolor-pale-red,.backgroundcolor-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
 .backgroundcolor-pale-green,.backgroundcolor-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
 .backgroundcolor-pale-yellow,.backgroundcolor-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
 .backroundcolor-pale-blue,.backgroundcolor-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
 .text-color-amber,.hover-text-color-amber:hover{color:#ffc107!important}
 .text-color-aqua,.hover-text-color-aqua:hover{color:#00ffff!important}
 .text-color-blue,.hover-text-color-blue:hover{color:#2196F3!important}
 .text-color-light-blue,.hover-text-color-light-blue:hover{color:#87CEEB!important}
 .text-color-brown,.hover-text-color-brown:hover{color:#795548!important}
 .text-color-cyan,.hover-text-color-cyan:hover{color:#00bcd4!important}
 .text-color-blue-grey,.hover-text-color-blue-grey:hover,.text-color-blue-gray,.hover-text-color-blue-gray:hover{color:#607d8b!important}
 .text-color-green,.hover-text-color-green:hover{color:#4CAF50!important}
 .text-color-light-green,.hover-text-color-light-green:hover{color:#8bc34a!important}
 .text-color-indigo,.hover-text-color-indigo:hover{color:#3f51b5!important}
 .text-color-khaki,.hover-text-color-khaki:hover{color:#b4aa50!important}
 .text-color-lime,.hover-text-color-lime:hover{color:#cddc39!important}
 .text-color-orange,.hover-text-color-orange:hover{color:#ff9800!important}
 .text-color-deep-orange,.hover-text-color-deep-orange:hover{color:#ff5722!important}
 .text-color-pink,.hover-text-color-pink:hover{color:#e91e63!important}
 .text-color-purple,.hover-text-color-purple:hover{color:#9c27b0!important}
 .text-color-deep-purple,.hover-text-color-deep-purple:hover{color:#673ab7!important}
 .text-color-red,.hover-text-color-red:hover{color:#f44336!important}
 .text-color-sand,.hover-text-color-sand:hover{color:#fdf5e6!important}
 .text-color-teal,.hover-text-color-teal:hover{color:#009688!important}
 .text-color-yellow,.hover-text-color-yellow:hover{color:#d2be0e!important}
 .text-color-white,.hover-text-color-white:hover{color:#fff!important}
 .text-color-black,.hover-text-color-black:hover{color:#000!important}
 .text-color-grey,.hover-text-color-grey:hover,.text-color-gray,.hover-text-color-gray:hover{color:#757575!important}
 .text-color-light-grey,.hover-text-color-light-grey:hover,.text-color-light-gray,.hover-text-color-light-gray:hover{color:#f1f1f1!important}
 .text-color-dark-grey,.hover-text-color-dark-grey:hover,.text-color-dark-gray,.hover-text-color-dark-gray:hover{color:#3a3a3a!important}
 .bordercolor-amber,.hover-bordercolor-amber:hover{border-color:#ffc107!important}
 .bordercolor-aqua,.hover-bordercolor-aqua:hover{border-color:#00ffff!important}
 .bordercolor-blue,.hover-bordercolor-blue:hover{border-color:#2196F3!important}
 .bordercolor-light-blue,.hover-bordercolor-light-blue:hover{border-color:#87CEEB!important}
 .bordercolor-brown,.hover-bordercolor-brown:hover{border-color:#795548!important}
 .bordercolor-cyan,.hover-bordercolor-cyan:hover{border-color:#00bcd4!important}
 .bordercolor-blue-grey,.hover-bordercolor-blue-grey:hover,.bordercolor-blue-gray,.hover-bordercolor-blue-gray:hover{border-color:#607d8b!important}
 .bordercolor-green,.hover-bordercolor-green:hover{border-color:#4CAF50!important}
 .bordercolor-light-green,.hover-bordercolor-light-green:hover{border-color:#8bc34a!important}
 .bordercolor-indigo,.hover-bordercolor-indigo:hover{border-color:#3f51b5!important}
 .bordercolor-khaki,.hover-bordercolor-khaki:hover{border-color:#f0e68c!important}
 .bordercolor-lime,.hover-bordercolor-lime:hover{border-color:#cddc39!important}
 .bordercolor-orange,.hover-bordercolor-orange:hover{border-color:#ff9800!important}
 .bordercolor-deep-orange,.hover-bordercolor-deep-orange:hover{border-color:#ff5722!important}
 .bordercolor-pink,.hover-bordercolor-pink:hover{border-color:#e91e63!important}
 .bordercolor-purple,.hover-bordercolor-purple:hover{border-color:#9c27b0!important}
 .bordercolor-deep-purple,.hover-bordercolor-deep-purple:hover{border-color:#673ab7!important}
 .bordercolor-red,.hover-bordercolor-red:hover{border-color:#f44336!important}
 .bordercolor-sand,.hover-bordercolor-sand:hover{border-color:#fdf5e6!important}
 .bordercolor-teal,.hover-bordercolor-teal:hover{border-color:#009688!important}
 .bordercolor-yellow,.hover-bordercolor-yellow:hover{border-color:#ffeb3b!important}
 .bordercolor-white,.hover-bordercolor-white:hover{border-color:#fff!important}
 .bordercolor-black,.hover-bordercolor-black:hover{border-color:#000!important}
 .bordercolor-grey,.hover-bordercolor-grey:hover,.bordercolor-gray,.hover-bordercolor-gray:hover{border-color:#9e9e9e!important}
 .bordercolor-light-grey,.hover-bordercolor-light-grey:hover,.bordercolor-light-gray,.hover-bordercolor-light-gray:hover{border-color:#f1f1f1!important}
 .bordercolor-dark-grey,.hover-bordercolor-dark-grey:hover,.bordercolor-dark-gray,.hover-bordercolor-dark-gray:hover{border-color:#616161!important}
 .bordercolor-pale-red,.hover-bordercolor-pale-red:hover{border-color:#ffe7e7!important}
 .bordercolor-pale-green,.hover-bordercolor-pale-green:hover{border-color:#e7ffe7!important}
 .bordercolor-pale-yellow,.hover-bordercolor-pale-yellow:hover{border-color:#ffffcc!important}
 .bordercolor-pale-blue,.hover-bordercolor-pale-blue:hover{border-color:#e7ffff!important}
/* Footer */
.footer {
 -ms-flex: 100%;
  flex: 100%;
  padding: 20px;
  text-align: center;
  background: #ddd;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.col-25-1 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-25-2 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-25-3 {
  -ms-flex: 25%;
  flex: 25%;
}
.col-25-4 {
  -ms-flex: 25%;
  flex: 25%;
}

.col-25-1,
.col-25-2,
.col-25-3,
.col-25-4 {
  padding: 0 16px;
}
@media screen and (max-width: 800px) {
  .col-25-1{
    display: none;
  }
  .col-25-3{
    display: none;
  }
  .col-25-4{
    display: none;
  }
  .col-25-2{
    float:right;
    display:block;
	position:center;
	text-align:center;
  }
}