<!DOCTYPE html>
<html>
<head>
            <title>gidweb.com</title> <!--for SEO-->
            <meta http-equiv="content-type" content="text/html/> <!--choosing character type-->
            <meta name="keywords" content="home,homepage,personnelhomepage,gid,get it done,works,tasks,gidtasks,gidshop,gidpay,gidstockbroker,gidreservation,gidmessenger" /> <!--for SEO -->
            <meta name="description" content="get it done"/> <!--for SEO-->
            <meta name="robots" content="all,index" /> <!--allow or block indexing of site content by automated search engines-->
			<meta name="mobile-web-app-capable" content="yes" /> <!--android chrome web app on home screen-->
			<meta name="apple-mobile-web-app-capable" content="yes" /> <!--iOS web app on homescreen-->
            <meta name="Revisits-After"content ="30 Days" /> <!--assists search engine how regular they should update-->
            <meta name="author" content="whiterhino inc" /> <!--identify the author or company providing the site-->
			<link rel="stylesheet" href="/static/stylesheets/gidstyles.css">
			<link rel="icon" type="image/png" href="/static/images/gidicon.png"> <!--attach icon of the platform-->
            <!--<script src="gid-javascriptfile.js"></script>attach external javascript file-->
            <!--<script src='OSC.js'></script> <!--geolocation html5 code starts here -->
            <!--<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script><!--geolocation-->
			<meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<!-- Top menu -->
<div class="w3-top">
  <div class="animate-top w3-light-blue w3-xlarge" style="max-width:1200px;margin:auto">
    <div class="w3-button w3-padding-16 w3-left" onclick="w3_open()"><strong>☰</strong></div>
	<div class="w3-right w3-padding-16 w3-button"><em><a href="/gidprofile">{{userfirstname2}}</a></em></div>
    <div class="w3-center w3-padding-16">
	<h3><strong>gidweb</strong></h3>
	 <form action="/gidsearchengine" method="post">
	 <input type="search" name="searchengine" placeholder="Search" class="search" required>
	 <input type="submit" value="☆" class="animate-left searchsubmit">
     </form>
</div>
</div>
</div>
	
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!--header begins here-->
<div class="w3-light-blue">
  <h1><div class="w3-center w3-padding-16"><h1>Create a task</h1></div></h1>	
  <h2><div class="w3-center w3-padding-16"><p>Do a task</p></div></h2>
</div>
<!--header ends here-->
<!--navigation begins here-->
<div class="navbar">
  <a href="#"class="w3-col.s1 w3-col.m1 w3-btn w3-button w3-btn:hover">Home</a>
  <a href="/joblist"class="w3-col.s1 w3-col.m1 w3-btn w3-button w3-btn:hover">projects</a>
  <a href="/gidprofile"class="w3-col.s1 w3-col.m1 w3-btn w3-button w3-btn:hover">profile</a>
  <a href="/gidlogout"class="w3-col.s1 w3-col.m1 w3-btn w3-button w3-btn:hover">logout</a>
  <a href="#"class="w3-col.s1 w3-col.m1 w3-btn w3-button w3-btn:hover">dashboard</a>
  <a href="gidchatboard"class="w3-col.s1 w3-col.m1 w3-btn w3-button w3-btn:hover">chatboard</a>
  <a href="#"class="w3-col.s1 w3-col.m1 w3-btn w3-button w3-btn:hover">nearby jobs</a>
  <a href="#"class="w3-col.s1 w3-col.m1 w3-btn w3-button w3-btn:hover">experience</a>
  <a href="#"class="w3-col.s1 w3-col.m1 w3-btn w3-button w3-btn:hover">recommendations</a>
  <a href="mailto:fredanziko@gmail.com"class="w3-col.s1 w3-col.m1 w3-btn w3-button w3-btn:hover">Contact us</a>
</div>
<br>
<!--navigation ends here-->
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>

<!-- Sidebar (hidden by default) -->
<nav class="sidebar" style="display:none;z-index:2;width:25%;min-width:300px" id="mySidebar">
  <h2><em><a href="/gidprofile">{{userfirstname1}} {{userlastname}}</a></em></h2>
  <a href="javascript:void(0)" onclick="w3_close()"
  class="closebtn ">x</a>
  <a href="#"onclick="w3_close()">Home</a>
  <a href="/joblist"onclick="w3_close()">projects</a>
  <a href="#"onclick="w3_close()">dashboard</a>
  <a href="gidchatboard"onclick="w3_close()">chatboard</a>
  <a href="#"onclick="w3_close()">reccomendations</a>
  <a href="#"onclick="w3_close()">nearby jobs</a>
  <a href="#"onclick="w3_close()">experience</a>
  <a href="#"onclick="w3_close()">manage account</a>
  <a href="#" onclick="w3_close()">About us</a>
  <a href="mailto:fredanziko@gmail.com">Contact us</a>
  <a href="/gidlogout"onclick="w3_close()">Logout</a></div>
</nav>


  
<!-- !PAGE CONTENT! -->
<div class="w3-center w3-padding-16 animate-fading w3-white w3-text-black w3-xlarge w3-round-large">
  <p><strong>"Welcome to home of the bold, optimistic, enthusiastic and the confident"</strong></p>
</div>
<div class=" animate-bottom w3-round-large w3-main w3-content w3-padding w3-gray" style="max-width:1200px;margin-top:100px">
  <!-- picture content-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="indexpic">
    <img src="static/images/gidpic1.png" width="100%" height="100%">
  </div>
  <!-- First task Grid-->
  <div class="w3-padding-16">
    <div>
     {% block content %}
  {% for currenttask in currentTasks %}
      <header>
        <div>
          <h1>{{ currenttask[3] }}</h1>
		  <h4>{{ currenttask[2] }}</h4>
		  <h4>Task ID:00{{ currenttask[0] }}</h4>
		  <h4><em>Task posted by:00{{ currenttask[1] }}</em></h4>
      </header>
      <p><strong>Description:</strong>{{ currenttask[4] }}</p>
	  <p><strong>Total Budget:</strong> {{ currenttask[8] }} {{ currenttask[7] }}</p>
	  <p><strong>Deadline:</strong> {{ currenttask[10] }}</p>
	  <p><strong>Required:</strong>{{ currenttask[5] }}</p>
	  <form class="modal-content animate" action="/biddingonjob" method="post" target="_self">
            <input type="hidden" name="TaskId" id="TaskId" value="{{ currenttask[0] }}" required> 
			<input type="hidden" name="EmployerIdentity" id="EmployerIdentity" value="{{ currenttask[1] }}" required>
			<button type="submit">Bid</button>
			
	  </form>
      </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
    </div>
  </div>
  </div>
  
  
  <!-- Second Photo Grid-->
  
  </div>

  <!-- Pagination 
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>-->
</div>
<br>
<br>
  <!-- Footer -->
 <div class="w3-round-large footer w3-light-blue">
<div class="row">
<div class="col-25-1">
  <a href="#">register ac</a>
  <br>
  <a href="#">login</a>
  <br>
  <a href="#">reccomendations</a>
</div>
<div class="col-25-2">
  <a href="#">About us</a>
  <br>
 <a href="mailto:fredanziko@gmail.com"class="w3-col.s1 w3-col.m1">contact us</a>
 <br>
  <a href="#">Terms & Conditions</a>
   
</div>

<div class="col-25-3">
  <a href="#">categories</a>
  <br>
  <a href="#">Home</a>
  <br>
  <a href="#">nearby-jobs</a>
  <br>
</div>

<div class="col-25-4">
  <a href="#">categories</a>
  <br>
  <a href="#">latest-jobs</a>
  <br>
  <a href="#">nearby-jobs</a>
  <br>
</div>
</div>
 <h2>©whiterhino inc.</h2>
  <h6> 
 <script>
 var today=new Date(Date.now());
 document.write(today);
 </script>
 </h6>
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
// position auto input
var gidgps = document.getElementById("gidpositioning");

window.onload= function getLocation(event) {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    gidgps.value = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  gidgps.value = position.coords.latitude + 
  "," + position.coords.longitude;
}
</script>

</body>

</html>
