<!DOCTYPE html>
<html>
<head>
            <title>gidweb.com</title> <!--for SEO-->
            <meta http-equiv="content-type" content="text/html/> <!--choosing character type-->
            <meta name="keywords" content="gid,get it done,works,tasks,gidtasks,gidshop,gidpay,gidstockbroker,gidreservation,gidmessenger" /> <!--for SEO -->
            <meta name="description" content="get it done"/> <!--for SEO-->
            <meta name="robots" content="all,index" /> <!--allow or block indexing of site content by automated search engines-->
			<meta name="mobile-web-app-capable" content="yes" /> <!--android chrome web app on home screen-->
			<meta name="apple-mobile-web-app-capable" content="yes" /> <!--iOS web app on homescreen-->
            <meta name="Revisits-After"content ="30 Days" /> <!--assists search engine how regular they should update-->
            <meta name="author" content="whiterhino inc" /> <!--identify the author or company providing the site-->
			<link rel="stylesheet" href="/static/stylesheets/gidstyles.css">
			<link rel="icon" type="image/png" href="/static/images/gidicon.png"> <!--attach icon of the platform-->
            <!--<script src="gid-javascriptfile.js"></script>attach external javascript file-->
            <!-- <script src='OSC.js'></script> geolocation html5 code starts here -->
            <!--<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>geolocation-->
			<meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="text-center padding-16 animate-fading backgroundcolor-white text-color-black font-size-xlarge border-radius-round-large">
  <p><strong>"Welcome to home of the bold, optimistic, enthusiastic and the confident"</strong></p>
</div>
<h2>©whiterhino inc.</h2>
 <h6> 
 <script>
 var today=new Date(Date.now());
 document.write(today);
 </script>
 </h6>
</div>
</div>
<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
// continues position update to determine location of users for accurate service provision
if (navigator.geolocation) {
 //after the user indicates that they want to turn on continuous location-tracking
 var watchId = navigator.geolocation.watchPosition(updateLocation, geolocationFailure);
} else {
 console.log("Geolocation is not supported by this browser.");
}
var updateLocation = function(position) {
 console.log("New position at: " + position.coords.latitude + ", " + position.coords.longitude);
};
 
</script>

</body>

</html>